{% extends 'base.html.twig' %}

{% block title %}Symfony_Jukebox{% endblock %}

{% block body %}
<link href="{{ asset('./assets/css/symfonybox.css') }}" rel="stylesheet"/>

<div class="header">
    <h1>
        <img src="../assets/img/icon-music.webp" alt="icon music" class="icon-music">
        <a href="{{ path('home')}}"><img src="../assets/img/font-symfonybox-bttf.png" alt="font bttf symfonybox" class="logo"></a>
    </h1>

    <div class="d-flex justify-content-end">
        {# Si l'utilisateur connecté à un ROLE_USER, 
        on affiche les liens Favoris et Déconnexion #}
        {% if is_granted('ROLE_USER') %}
            {% if is_granted('ROLE_ADMIN') %}
                <h4 class="admin">
                    <a href="{{ path('admin') }}" title="Admin">Admin</a>
                </h4>
            {% endif %}
            <h4 class="favorites">
                <a href="{{ path('favoris') }}" title="Favorites">Favoris</a>
            </h4>
            <h4 class="logout">
                <a href="{{ path('logout') }}" title="Logout">Déconnexion</a>
            </h4>
        {# sinon on affiche les liens Connexion et Inscription #}
        {% else %}
            <h4 class="login">
                <a href="{{ path('login') }}" title="Login">Connexion</a>
            </h4>
            <h4 class="register">
                <a href="{{ path('register') }}" title="Register">Inscription</a>
            </h4>
        {% endif %}
    </div>
</div>

{# J'affiche la barre de recherche pour rechercher une chanson (title) #}
{{form_start(form)}}
    <div class="form">
        <div class="mt-3 d-flex justify-content-start align-items-center">
            {{ form_widget(form.title) }}
            <button type="submit" class="btn btn-primary input-group-text" style="margin-top: 10px;" id="searchButton">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
{{form_end(form)}}

    {# Si l'utilisateur connecté a un ROLE_USER, 
    j'affiche le logo user et le nom de l'email connecté #}
    {% if is_granted('ROLE_USER') %}
        <div class="user d-flex align-items-center justify-content-end">
            <img src="{{ asset('assets/img/icon-user.png') }}" alt="User Icon" class="img-fluid">
            <p class="align-self-center">{{ userEmail }}</p>
        </div>
    {% endif %}

{# J'affiche la liste des chansons selon les caractéristiques #}
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for music in musics %} {# pour musique de chaque musiques #}
    <div class="swiper-slide">
        <h2>{{ music.title }}</h2> {# J'affiche le titre de la musique #}

        <h6>{{ music.singer }}</h6> {# J'affiche le chanteur de la musique #}

        <div class="txt-red" style="color:red">
            {% if is_granted('ROLE_USER') %} {# Si l'utilisateur connecté a un role 'ROLE_USER' #}
                {% set isFavorited = false %} {# Je définis favoris = FAUX #}
                    {% for favori in music.favoris %} {# pour favori de chaque music.favoris #}
                        {% if favori.id == app.user.id %} {# Si favori.id est lié à app.user.id #}
                            {% set isFavorited = true %} {# Je définis favoris = VRAI #}
                        {% endif %}
                    {% endfor %}

                {# Si le favoris est FAUX, j'affiche le lien 'retrait_favoris' avec un id 'music.id' comme paramètre,
                sinon si le favoris est VRAI, j'affiche le lien 'ajout_favoris' avec id 'music_id' comme paramètre #}
                <a href="{{ isFavorited ? path('retrait_favoris', {'id': music.id}) : path('ajout_favoris', {'id': music.id}) }}">
                    {# Si le favoris est FAUX, j'applique la couleur rouge pour retirer,
                    sinon si le favoris est VRAI, j'applique la couleur blanche pour ajouter #}
                    <i class="fas fa-heart" style="font-size: 2em; color: {{ isFavorited ? 'red' : 'white' }};"></i>
                </a>
            {% endif %}
        </div>
        <img src="{{ asset('uploads/'~ music.image ~'') }}" alt="image music" class="image" /> {# J'affiche l'image de la musique #}
        <br>
        <audio src="{{ asset('uploads/'~ music.audio ~'') }}" controls></audio> {# J'affiche l'audio de la musique #}
        
        {# J'affiche la moyenne des étoiles par musique #}
        <p class="d-flex justify-content-end align-items-center mt-2 fs-5">
            <a href="{{ path('app_rating') }}" style="text-decoration:none; color:white;">
                <i class="bi bi-star-fill px-2" style="color:#FAE729"></i> 
                    {{ averages[music.id]|number_format(1) }}
            </a>
        </p>
    </div>
    {% endfor %}
  </div>
  <br>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

    <br><br>

    <div class='record-container'>
        <img src="../assets/img/shot_1293655299-removebg-preview.png" />
    </div>

    <br><br>
    
    <footer>
        <p><img src="../assets/img/font-copyright-bttf.png" alt="font bttf copyright"></p>
    </footer>
{% endblock %}