{% extends 'base.html.twig' %}

{% block title %}Favoris - SymfonyBox{% endblock %}

{% block body %}
<link href="{{ asset('./assets/css/favoris/favoris.css') }}" rel="stylesheet"/>

<div class="header">
    <h1>
        <img src="../assets/img/icon-music.webp" alt="icon music" class="icon-music">
        <a href="{{ path('home')}}"><img src="../assets/img/font-symfonybox-bttf.png" alt="font bttf symfonybox" class="logo"></a>
    </h1>

    <div class="d-flex justify-content-end">
        {# L'utilisateur connecté à un lien Déconnexion #}
        <h4 class="logout">
            <a href="{{ path('logout')}}" title="Logout">Déconnexion</a>
        </h4>
    </div>
</div>

{# J'affiche le lien Retour pour revenir à la page d'accueil #}
<a href="{{ path('home')}}" class="retour">
    <img src="../assets/img/icon-back.png" alt="back" />
    Retour
</a>

<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {% for favori in favoris %} {# pour favori de chaque favoris #}
        <div class="swiper-slide">
                
            <h2>{{ favori.title }}</h2> {# J'affiche le titre du favori #}

            <h6>{{ favori.singer }}</h6> {# J'affiche le titre du favori #}


            <img src="{{ asset('uploads/'~ favori.image ~'') }}" alt="image music" class="image" /> {# J'affiche l'image du favori #}
            <br>
            <audio src="{{ asset('uploads/'~ favori.audio ~'') }}" controls></audio> {# J'affiche l'audio du favori' #}
        </div>
    {% endfor %}
   </div>
  <br>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

    <br><br>

    <div class='record-container'>
        <img src="../assets/img/shot_1293655299-removebg-preview.png" />
    </div>

    <br><br>
    
    <footer>
        <p><img src="../assets/img/font-copyright-bttf.png" alt="font bttf copyright"></p>
    </footer>
{% endblock %}